html, body {
  position: relative; }

.background-table-teachers {
  padding: 0px 15px 15px 15px;
  background: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 1023px; }

.header-table-custom {
  margin: 15px 0px 30px 0px; }

.table-font-color-dark {
  color: #3B58A1; }

.table-font-color-light {
  color: #4A90E2; }

.table-header-font-size {
  font-size: 30px;
  font-weight: bold; }

.table-header-margin {
  margin-left: 6.5%; }

.background-table-teachers h2 {
  display: inline-block; }

.background-table-teachers .filled-in[type="checkbox"] + label {
  padding: 0 !important;
  margin-left: 11px;
  position: relative;
  cursor: pointer;
  height: 14px;
  line-height: 18px; }

.background-table-teachers [type="checkbox"].filled-in:checked + label::before {
  width: 6px;
  height: 11px; }

.background-table-teachers [type="checkbox"].filled-in:not(:checked) + label::after {
  border: 1px solid #3B58A1 !important;
  height: 16px;
  width: 16px; }

.background-table-teachers [type="checkbox"].filled-in:checked + label::after {
  border: 2px solid #3B58A1;
  background-color: #3B58A1;
  width: 16px;
  height: 16px; }

.table-text-center > th,
.table-text-center {
  text-align: center !important; }

.background-table-teachers td, th {
  padding: 15px 8px;
  border-bottom: 2px solid #3B58A1 !important; }

.background-table-teachers td {
  padding: 5px 5px !important; }

.table-text-decoration {
  text-decoration: underline; }

.table-dark-col-bg-color {
  background-color: #eeeeee; }

.table-light-col-bg-color {
  background-color: #f9f9f9; }

.table-bg-color-orange {
  background-color: #DD7D1E !important; }

.table-btn {
  float: right;
  margin-top: 2rem;
  font-size: 20px;
  text-transform: none !important;
  height: 46px;
  padding: 0.5% 7% 0.5% 7%; }

.table-teachers-td-width-custom {
  width: 25%; }

.table-teachers-td-width-name-custom {
  width: 35%; }

.menu-color {
  background-color: #151248; }

.sidenav {
  width: 338px;
  padding-bottom: 10px; }

li.collection-item.avatar > img.nav-icon-custom.circle {
  background-color: white;
  width: 30px !important;
  height: 30px !important; }

li.collection-item.avatar > a > img.icon-custom.little-circle {
  background-color: white;
  width: 20px !important;
  height: 20px !important;
  position: relative;
  left: 40px !important; }

ul.collection {
  border: none !important; }
  ul.collectionli.collection-item {
    border: none !important; }

li.collecton-item {
  position: relative; }

.nav-icon-custom {
  display: inline-block;
  width: 30px;
  height: 30px; }

.logo-custom {
  padding-left: 96px !important;
  font-size: 24px; }

.collection .collection-item {
  background-color: #151248 !important;
  border-bottom: none !important;
  color: white; }

.collection .collection-item p.logo-custom span {
  font-size: 26px;
  background-color: #dd7d1e;
  color: white;
  text-align: center;
  line-height: 0.55;
  border-radius: 50%;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50px;
  left: 131px; }

li.collection-item.avatar > a {
  display: inline-block; }

.sidenav li > a > img.icon-custom {
  width: 20px;
  height: 20px;
  position: relative;
  left: 40px !important;
  margin: 0; }

.nav--wrapper--bottom > ul {
  display: block;
  width: 100%; }

.nav--wrapper--bottom li > a > img {
  width: 20px;
  height: 20px;
  position: relative;
  left: 40px !important;
  margin: 0; }

.collection .collection-item.avatar {
  min-height: 50px;
  padding-left: 85px; }

img.avatar-position {
  left: 90% !important;
  width: 20px !important;
  height: 20px !important; }

.collection .circle {
  left: 85px !important; }

.little-circle {
  border-radius: 50%;
  background-color: white; }

.side-menu__custom {
  -webkit-transform: translateX(-297px);
      -ms-transform: translateX(-297px);
          transform: translateX(-297px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  height: 100%;
  -webkit-transition: 0.6s;
          transition: 0.6s; }
  .side-menu__custom:hover {
    cursor: pointer;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 0.6s;
            transition: 0.6s; }

.side-menu__custom:hover li > a img.icon-custom {
  display: none;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

.side-menu__custom:hover li > a.secondary-content > img.icon-custom.little-circle {
  display: none;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

.sidenav li > a {
  color: white;
  height: 40px !important; }

/*# sourceMappingURL=styles.css.map */